<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Team Details</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <table class="table table-bordered">
                <tr>
                  <th>Team Name</th>
                  <td><%= @team.name %></td>
                </tr>
                <tr>
                  <th>Nature of Skill</th>
                  <td><%= @team.nature_of_skill&.titleize %></td>
                </tr>
                <tr>
                  <th>Team Head</th>
                  <td>
                    <% if @team.team_head %>
                      <%= link_to team_head_path(@team.team_head), class: 'text-primary' do %>
                        <%= @team.team_head.name %>
                      <% end %>
                      <br><small class="text-muted"><%= @team.team_head.contact_number %></small>
                    <% else %>
                      <span class="text-muted">No team head assigned</span>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <th>Workers Count</th>
                  <td><span class="badge badge-info"><%= @team.workers.count %> workers</span></td>
                </tr>
              </table>
            </div>
            <div class="col-md-6">
              <h5>Team Members</h5>
              <% if @team.workers.any? %>
                <% @team.workers.each do |worker| %>
                  <div class="card mb-2">
                    <div class="card-body">
                      <h6 class="card-title">
                        <%= worker.name %> 
                        <small class="text-muted">(<%= worker.worker_id %>)</small>
                      </h6>
                      <p class="card-text">
                        <small class="text-muted">
                          Contact: <%= worker.contact %><br>
                          Project: <%= worker.project&.name %>
                          <% if worker.head_worker %>
                            <br>Reports to: <%= worker.head_worker.name %>
                          <% end %>
                        </small>
                      </p>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <p class="text-muted">No workers assigned to this team yet.</p>
              <% end %>
            </div>
          </div>
          
          <div class="mt-4">
            <%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-warning' %>
            <%= link_to 'Back', teams_path, class: 'btn btn-secondary' %>
            <%= link_to 'Delete', @team, method: :delete, 
                confirm: 'Are you sure?', class: 'btn btn-danger' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
