<!DOCTYPE html>
<html>

<head>
    <title>New Company</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>
    <h1>Creating New Company</h1>
    <%= link_to 'Back to Home', root_path, class: 'btn btn-secondary', style: 'margin-bottom: 1em; margin-right: 1em;' %>
    <%= link_to 'Back to Companies', companies_path, class: 'btn btn-primary', style: 'margin-bottom: 1em;' %>
    <%= render 'form', company: @company %>
</body>

</html>